<div class="top-page">
  <div class="left-bg"></div>
  <div class="right-bg"></div>

  <div class="content">
    <div class="logo-wrapper">
      <%= image_tag "top.png", class: "top-logo" %>
    </div>

    <div class="btn-row">
      <%= link_to "新規登録", new_user_registration_path, class: "top-btn signup" %>
      <%= link_to "ログイン", new_user_session_path, class: "top-btn login" %>
    </div>
  </div>
</div>
