<div class="top">
  <div class="top__bg top__bg--left"></div>
  <div class="top__bg top__bg--right"></div>

  <div class="top__content">
    <%= image_tag "top.png", class: "top__logo" %>

    <div class="top__buttons">
      <%= link_to "新規登録", new_user_registration_path, class: "top__btn top__btn--signup" %>
      <%= link_to "ログイン", new_user_session_path, class: "top__btn top__btn--login" %>
    </div>
  </div>
</div>