//新規投稿
h1 {
    font-family: serif;
  }
  
  .cover-new {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }


  //投稿一覧
.cover-index {
  height: 100%;
  width: 100%;
  background-image: url(/assets/siro.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.index-left {
  margin-left: 2.5rem!important;
}

//ページネーション
.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

//投稿詳細
.cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/siro.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  #text {
    font-size: 18px;
  }