* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* 左右背景 */
.left-bg, .right-bg {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.left-bg {
  left: 0;
  background-image: image-url("5051.jpeg");
}

.right-bg {
  right: 0;
  background-image: image-url("5050.jpeg");
}


//背景　一番後ろに
.bg {
  position: relative;
  min-height: 120vh;   /* ← 100vh より大きくする */
  padding-bottom: 120px; /* 下余白 */
  z-index: 1
}

//新規登録
.box {
  position: absolute;
  top: 5%;
  right: 63%;                 
  width: 350px;
  height: 400px;

  border-radius: 4px;
  border: 1px #ddd solid;
  background: white;
  box-shadow: 0 8px 30px rgba(244, 244, 244, 0.15);
}

//ログイン
.box-lg {
  position: absolute;
  top: 15%;
  width: 350px;
  height: 400px;
  left: 65%;

  border-radius: 4px;
  border: 1px #ddd solid;
  background: white;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}


//.bg {  width: 100%;  height: 100%;  padding-top: 70px;  background: linear-gradient(to right, #0b1e5b, rgba(0, 107, 139, 0.12));}


//新規登録box//
.box {
  width: 350px;
  height: 400px;
  margin: auto;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
  background-color: white;
}

//ログインBOX//
.box-lg {
  width: 350px;
  height: 400px;
  margin: auto;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner-lg {
  padding: 20px 26px;
  background-color: white;
}


//共通

.h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-name {
  margin-bottom: 13px;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-name label, .box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-name input[type="text"], .box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}


//* ロゴ全体の基準 */
.logo-wrapper-log {
  position: relative;
}

/* ロゴ画像 */
.log-logo {
  position: absolute;
  top: 270px;
  left: 25%;
  transform: translate(-50%, -50%);

  width: 320px;
  max-width: 70vw;
  height: auto;
  display: block;
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.15));
}

/* キャプション文字 */
.logo-caption-log {
  position: absolute;
  top: 470px;      /* ここは見た目で微調整 */
  left: 25%;
  transform: translateX(-50%);
  z-index: 5;

  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif;
}


.logo-caption {
  position: absolute;

  top: 50px;   /* 下へ */
  left: 75%;
  transform: translateX(-50%);

  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif; 
}

//ロゴ新規登録//
.logo-wrapper-lg {
  position: relative;
}

.top-logo {
  position: absolute;
  top: 240px;  
  left: 75%;
  transform: translate(-50%, -50%);

  width: 320px;
  max-width: 70vw;
  height: auto;
  display: block;
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.15));
}

.logo-caption {
  position: absolute;

  top: 450px;   /* 下へ */
  left: 75%;
  transform: translateX(-50%);

  font-family: "Hiragino Mincho ProN", "Yu Mincho", serif; 
}
